@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color:#F2F2F2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.site-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-header {
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  padding: 0 70px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  width: 460px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-left: auto;
  width: 300px;
}

.header-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: -6px;
}

.navigation-link {
  display: block;
  padding: 24px 19px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.favourites-tag {
  display: block;
  width: 20px;
  position: absolute;
  padding: 3px 1px 5px;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 14px;
}

.navigation-link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0 auto 20px;
  width: 160px;
  height: 36px;
  background-color: #756157;
  border-radius: 4px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}



.advantages {
  padding: 50px 0;
}

.page-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.pic {
  display: block;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
  margin: 0 auto;
}

.hero {
  color: #000000;
  background-image: url("../images/vector_flag.svg"), url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

.offer-text {
font-size: 30px;
line-height: 36px;
font-weight: 700;
text-align: center;
text-transform: uppercase;
margin-top: 69px;
white-space: pre;
}

.offer-text-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

/*  список преимуществ */

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {

  width: 400px;
  list-style-type: none;
  min-height: 385px;

}

.advantages-dark {
  display: flex;
  flex-direction: row;
  background-color: #82B3D3;
  list-style-type: none;
  width: 1200px;

}

.advantages-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  min-height: 385px;
  padding: 102px 85px;
  margin: 0;
  box-sizing: border-box;
  width: 400px;

}

.advantages-item-picture {
  display: block;
  object-fit: contain;
  margin: auto 0;

}

.advantages-dark .advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.advantages-dark .advantages-title-description {
  color: #FFFFFF;
  text-align: center;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}

.advantages-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-light .advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;

  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-light .advantages-title-description {
  color: #333333;
  text-align: center;
}

.advantages-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  min-height: 385px;
  padding: 102px 85px;
  margin: 0;
  box-sizing: border-box;
  width: 400px;
}

.advantages-medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-medium .advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-medium .advantages-title-description {
  color: #333333;
  text-align: center;
}

.advantages-medium {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  min-height: 385px;
  padding: 102px 85px;
  margin: 0;
  box-sizing: border-box;
  width: 400px;
}




/* сервис список */

.service-list {
  display: flex;
  flex-direction: row;
  width: 1200px;
  max-height: 385px;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

}

.service-title {
  width: 400px;
}

.service-block {
  display: flex;
  flex-direction: row;

  list-style-type: none;
  margin: 0 auto;
  padding: 0 auto;
  height: 385px;
}

.service-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 64;
  white-space: pre;
}

.service-text-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;

}

.service-medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.service-medium .service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.service-medium .service-title-description {
  color: #333333;
  text-align: center;
}


.service-transparent .service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.service-transparent .service-title-description {
  color: #333333;
  text-align: center;
}



/* поиск */

.search-hotel-text {
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  padding-top: 96px;
  text-transform: uppercase;
}

.search-hotel-text-description {
  font-family: inherit;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 96px;
}

.newsletter-title {
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-title-description {
  font-family: inherit;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.button-search {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  width: 376px;
  height: 36px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: rgba(117, 97, 87, 1);
  text-decoration: none;
  padding: 8px 50px;
  margin-bottom: 96px;
  text-transform: uppercase;
}

.newsletter-photo {
  background-image: url(../images/blur_subscribe.jpg);
  width: 1200px;
  height: 415px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.newsletter-title {

  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-title-description {
  font-family: inherit;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;

}

.wrapper-newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 96px;
}

.search-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 auto;
  margin: 0 auto;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 452px;
  height: 52px;
  padding: 0 auto;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #f2f2f2;
}

.newsletter-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  width: 232px;
  height: 54px;
  border-radius: 0 4px 4px 0;
  padding: 0 auto;
  background-color: #82B3D3;
  color: #FFFFFF;
  border: none;
  text-transform: uppercase;
}







/* футер */

.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 120px;
    align-items: center;
  }

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 154px;
  list-style-type: none;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
  color: #83b3d3;
}

.footer-phone {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}



.main-title {
  color: #FFFFFF;
  background-color: #000000;
}

.breadcrumbs-item {
  color: #FFFFFF;
  background-color: #000000;
}


.catalog-filter {
  background-image: url("../images/background_catalog.jpg");
  width: 1200px;
  height: 412px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #000000;
}


.filter-button-active {
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
  height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  font-family: inherit;
}

.catalog-products-select {
  background-color: #FFFFFF;
}

.catalog-product-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.catalog-product-item-link {
  text-decoration: none;
}

.catog-product-type {
  color: rgba(51, 51, 51, 1);
}

.catalog-product-price {
  color: rgba(51, 51, 51, 1);
}

.catalog-product-about {
color: #FFFFFF;
background-color: rgba(117, 97, 87, 1);
text-decoration: none;
text-transform: uppercase;
font-family: inherit;
}

.catalog-product-favorite {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
color: #FFFFFF;
background-color: rgba(130, 179, 211, 1);
font-family: inherit;
}

.in-favorites {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
color: #FFFFFF;
background-color: rgba(125, 181, 79, 1);
font-family: inherit;
}

.catalog-product-stars {
  color: #000000;
}

.calog-product-rait {
font-weight: 400;
font-size: 16px;
line-height: 20%;
text-transform: uppercase;
}

.pagination-link-pagination-link-current {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}
