@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}



body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #F2F2F2
}

.page-header {
  color: #000000;
  background-color:
  #FFFFFF;
}

.navigation-link {
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
}

.favorites-tag {
  background-image: url(../images/number.svg);
}



.hero {
  color: #000000;
  background-image: url("../images/vector_flag.svg"), url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

.offer-text {
font-size: 30px;
line-height: 36px;
font-weight: 700;
text-align: center;
text-transform: uppercase;
}

.offer-text-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.advantages-item {
  background: #82B3D3;
}

.advantages-dark .advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.advantages-dark .advantages-title-description {
  color: #FFFFFF;
  text-align: center;
}

.advantages-light {
  background: #83B3D31F;
}

.advantages-light .advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-light .advantages-title-description {
  color: #333333;
  text-align: center;
}

.advantages-medium {
  background: #83B3D333;
}

.advantages-medium .advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-medium .advantages-title-description {
  color: #333333;
  text-align: center;
}


.service-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.service-text-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}


.service-medium {
  background: #83B3D31F;
}

.service-medium .service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.service-medium .service-title-description {
  color: #333333;
  text-align: center;
}

.service-transparent .service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.service-transparent .service-title-description {
  color: #333333;
  text-align: center;
}


.search-hotel-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;

}

.search-hotel-text-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.button-search {
  background-color: rgba(117, 97, 87, 1);
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 4px;
padding: 8px 50px;
width: 376px;
height: 52px;
}

.newsletter {
  background-image: url("../images/blur_subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-title-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
}

.newsletter-form {
  color: #FFFFFF;
  text-align: center;
  font-family: inherit;
}

.field {
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  width: 452px;
  height: 20px;
  font-family: inherit;
}

.filter-button-active {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
background-color: #82B3D3;
}

.newsletter-button {
  background-color: rgba(130, 179, 211, 1);
  color: #FFFFFF;
  border-radius: 0 4px 4px 0;
padding: 8px 50px;
width: 232px;
height: 48px;
font-family: inherit;
}

.footer-social-link {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.footer-phone {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}

.main-catalog {
  color: #FFFFFF;
  background-image: url("../images/background_catalog.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}

.catalog-products {
  color: #000000;
}

.catalog-products-item {
  color: #000000;
}

.catalog-product-item-link {
  color: #000000;
  text-decoration: none;
}

.catalog-product-about {
  border-radius: 4px;
padding: 8px 50px;
width: 140px;
height: 36px;
text-decoration: none;
text-transform: uppercase;
color: #FFFFFF;
background-color: #756157;
}

.catalog-product-favorite {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
background-color: #82B3D3;
}

.calog-product-rait {
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.pagination-link-pagination-link-current {
  border-radius: 4px;
width: 60px;
height: 60px;
color: #FFFFFF;
background-color: #82B3D3;
}

.newsletter {
  background-color: #FFFFFF;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-title-description {
  color: #FFFFFF;
  text-align: center;
}

.newsletter-form {
  color: #FFFFFF;
  text-align: center;
}
